@font-face {
  font-family: "Montserrat-BlackItalic";
  font-display: swap;
  src: url("../fonts/Montserrat-BlackItalic.woff") format("woff"), url("../fonts/Montserrat-BlackItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Black";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-BoldItalic";
  font-display: swap;
  src: url("../fonts/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat-BoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-ExtraLightItalic";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Italic";
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-LightItalic";
  font-display: swap;
  src: url("../fonts/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat-LightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-MediumItalic";
  font-display: swap;
  src: url("../fonts/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Thin";
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-ThinItalic";
  font-display: swap;
  src: url("../fonts/Montserrat-ThinItalic.woff") format("woff"), url("../fonts/Montserrat-ThinItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: minwidth;
}

body {
  line-height: 1;
  font-family: fontfamily;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: fontfamily;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 40px 40px 0 40px;
  color: #000000;
  height: 1319px;
  min-height: 100%;
}

.wrapper {
  max-width: 1200px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-bar {
  color: #fff;
  max-width: 370px;
  background-color: #1e2939;
  min-height: 100%;
}

.side-bar_img {
  padding: 40px 0 0 0;
}

.contacts {
  margin: 57px 0 54px 41px;
}

.contacts__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 20px 0;
}

.contacts__tel {
  margin: 0 0 5px 0;
}

.cont {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.42px;
}

.tel {
  color: #787e88;
}

.mailto {
  color: #787e88;
  text-decoration: underline;
}

.skills__title {
  margin: 0 0 17px 41px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.skills__tech {
  margin: 0 0 52px 53px;
}

.skills__soft {
  margin: 0 0 0 53px;
}

.skills li {
  margin: 0 0 13px 0;
}

.skills li:last-child {
  margin: 0;
}

.skills li:before {
  content: "";
  position: absolute;
  margin: 3px 0 0 -10px;
  width: 4px;
  height: 4px;
  background-color: #e4630e;
  border-radius: 50%;
}

.main {
  margin: 108px 0 0 90px;
}

.main__title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  margin: 0 0 24px 0;
}

.portfolio__title {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 24px 0;
}

.portfolio__text {
  max-width: 413px;
  color: #595959;
  font-size: 14px;
  letter-spacing: 0.42px;
  margin: 0 0 64px 0;
  line-height: 20px;
}

.projects__list {
  list-style-type: decimal;
  font-weight: 700;
  width: 325px;
  margin: 0 0 0 18px;
}

.projects__list a {
  font-weight: 400;
  color: #646464;
  text-decoration: none;
  padding: 0 0 0 5px;
}

.projects__List {
  color: #646464;
  min-width: 150px;
}

.projects__List li:before {
  content: "[";
  font-weight: 700;
  width: 5px;
  color: black;
}

.projects__List li:after {
  content: "]";
  font-weight: 700;
  color: black;
}

.portfolio__projects {
  margin: 0 0 52px 0;
}

.projects__title {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.projects__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expirience__title {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.expirience__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  margin: 0 0 12px 0;
}

.subtitle {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.expirience li:before {
  content: "";
  width: 4px;
  height: 4px;
  background: #6d6d6d;
  position: absolute;
  border-radius: 50%;
  margin: 9.5px 0 0 -10px;
}

.skills li {
  line-height: 10px;
}

li {
  line-height: 24px;
}

.expirience__text li {
  margin: 0 0 0 11px;
}

.expirience__text ul {
  margin: 0 0 20px 0;
}

.education__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0;
}

.education__subtitle {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  margin: 0 0 15px 0;
}

.education__text {
  margin: 0 0 14px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
}

p {
  color: #a8a8a8;
  font-size: 12px;
  letter-spacing: 0.36px;
  margin: 0 0 14px 0;
}

span {
  display: inline-block;
  margin: 0 5px 0 5px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

@media (max-width: 992px) {
  .wrapper {
    max-width: 990px;
  }

  .projects__list {
    list-style-type: decimal;
    max-width: 250px;
    font-weight: 700;
  }

  .projects__List {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 0 20px;
  }
}

@media (max-width: 940px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 35px 0 0;
  }

  .side-bar {
    color: #fff;
    margin: 0 0 0 20px;
    min-width: 100%;
    background-color: #1e2939;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  img {
    max-width: 200px;
  }

  .side-bar_img {
    padding: 20px 5px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .skills li {
    line-height: 9.5px;
    margin: 0 10px 0 9px;
  }

  .skills li:last-child {
    margin: 0 10px 0 9px;
  }

  .skills li:before {
    content: "";
    position: absolute;
    margin: 3px 0 0 -8px;
    width: 4px;
    height: 4px;
    background-color: #e4630e;
    border-radius: 50%;
  }

  .skills ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .skills {
    margin: 20px 20px 0 0;
  }

  .contacts__title {
    margin: 10px 0 10px 0px;
    font-size: 16px;
  }

  .contacts {
    margin: 50px 0 0 50px;
    line-height: 12px;
  }

  .projects__List {
    max-width: 250px;
    margin: 0 0 0 20px;
  }

  .skills__tech {
    margin: -10px 0 10px 30px;
    font-size: 12px;
  }

  .skills__title {
    font-size: 16px;
    line-height: 10px;
    margin: 0 0 0 15px;
  }

  .skills__soft {
    font-size: 12px;
    margin: -10px 0 10px 30px;
  }

  .contacts__tel {
    font-size: 12px;
  }

  .cont {
    font-size: 12px;
  }

  .contacts__mail {
    font-size: 12px;
  }

  .cont {
    line-height: 15px;
  }
}

@media (max-width: 560px) {
  .wrapper {
    max-width: none;
    margin: 0 20px 0 -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .side-bar {
    color: #fff;
    margin: 0 0 0 20px;
    min-width: 100%;
    background-color: #1e2939;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .side-bar_img {
    padding: 20px 5px 0 10px;
  }

  .side-bar_img {
    padding: 20px 5px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts {
    margin: 10px 0 10px 0;
    line-height: 12px;
  }

  .skills ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .skills li {
    line-height: 9.5px;
    margin: 5px 20px 0 9px;
    line-height: 15px;
  }

  .skills li:last-child {
    margin: 5px 0 10px 8.5px;
  }

  .main {
    margin: 50px 0 0 25px;
  }

  .portfolio__title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
  }

  .portfolio__text {
    font-size: 14px;
    letter-spacing: 0.42px;
    margin: 0 0 40px 0;
    line-height: 16px;
  }

  .projects__title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px 0;
  }

  .projects__list {
    list-style-type: decimal;
    max-width: 250px;
    font-weight: 700;
  }

  .projects__List {
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 0 20px;
  }
}